/* ******************************* */
/* header */
/* ******************************* */

.header {
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  height: 9.6rem;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2.2rem;
}

/* ******************************* */
/* navigation */
/* ******************************* */

.main-nav-list {
  list-style: none;

  display: flex;
  text-align: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* sticky header */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 50;
  width: 100%;
  height: 8rem;
  z-index: 9999;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ******************************* */
/* hero section */
/* ******************************* */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
.hero-image {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  margin-top: 8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-images {
  display: flex;
}

.delivered-images img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-images img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ******************************* */
/* section featured in */
/* ******************************* */

.section-featured-in {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
  text-align: center;
}
.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* ******************************* */
/* section how */
/* ******************************* */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-image-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-image-box::before,
.step-image-box::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-image-box::before {
  width: 60%;
  /* does'nt work
  height: 60%; */

  /* !important! : ↓ 60% of parrent width  */
  padding-bottom: 60%;

  background-color: #fdf2e9;
  z-index: -2;
}

.step-image-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-image {
  width: 35%;
}

/* ******************************* */
/* section meal */
/* ******************************* */

.section-meals {
  padding: 9.6rem 0;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meals:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meals-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;

  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: #333;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--palio {
  background-color: #ffd43b;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.meal-icon {
  color: #e67e22;
  width: 2.4rem;
  height: 2.4rem;
}

/* ******************************* */
/* section testimonial */
/* ******************************* */

.section-testimonial {
  background-color: #fdf2e9;

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-author {
  color: #6f6f6f;
  font-size: 1.6rem;
}

/* gallery */

.gallery {
  padding: 1.6rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1.6rem;
}
.gallery-item {
  display: block;
  overflow: hidden;
}
.gallery-images {
  width: 100%;
  transition: all 0.4s;
}

.gallery-images:hover {
  transform: scale(1.1);
}

/* ******************************* */
/* section pricing */
/* ******************************* */
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  padding: 4.8rem;
  border-radius: 11px;
  width: 75%;
  overflow: hidden;

  position: relative;
}

.plan--starter {
  justify-self: end;
  box-shadow: 0 0 0 2px #fdf2e9;
}

.plan--complete {
  background-color: #fdf2e9;
}

.plan--complete::after {
  content: "best value";
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0.8rem 8rem;
  background-color: #ffd43b;
  transform: rotate(45deg);

  position: absolute;
  top: 6%;
  right: -18%;
}

.plan-heading {
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  color: #333;
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.plan-price span {
  font-size: 5.2rem;
}
.plan-text {
  color: #6f6f6f;
  font-size: 1.6rem;
  line-height: 1.8;
}

.plan-cta {
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* features */

.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #e67e22;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ******************************* */
/* section cta */
/* ******************************* */
.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */
  /* top / horizontal / left */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 2fr 1fr;
}
.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 150, 76, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

/* form */

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: inherit;
  font-family: inherit;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border-radius: 9px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form button {
  align-self: end;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(250, 229, 211, 0.5);
}

/* ******************************* */
/* footer */
/* ******************************* */
.footer {
  padding: 12.8rem;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.heading-footer {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.logo-cols {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;

  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;

  margin-top: auto;
}

.contact {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
